.clima{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    background: rgb(76, 76, 255);
    display:flex;
    justify-content:center;
    align-items:center;
    width:fit-content;
    height:fit-content;
    flex-direction:column;
    padding:40px;
    border-radius: 7px;
    gap:30px;
}
.form-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:15px;
}
.form-container h2{
    font-weight: 500;
    color:#fff;
    font-size:2rem;
}
#cidadeInput{
    background-color:#f5f5f5;
    padding:10px;
    border-radius: 5px;
    border: none;
    outline:none;
    font-size:16px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.377);
    transition: 0.5s ease-in-out;
}
#buscarBtn{
    background-color:#f5f5f5;
    cursor:pointer;
    padding:10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    border: none;
    outline:none;
    font-size:16px;
    transition: 0.5s ease-in-out;
}
#buscarBtn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(0, 0, 0);
    background-color:#e0e0e0 ;
}
#weather-data span, p{
    color:#fff;
    font-size:1.5rem;
}
#weather-data{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
}
#container-data{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}
#container-descricao{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:100px;
    transform: translateX(-18.5%);
}
#condicoes{
    display:flex;
    justify-content:center;
    align-items: center;
}