*{
    margin:0;
    padding: 0;
}
html, body {
  width: 100%;
}
.site-content {
  min-height: 100vh;
  overflow: hidden;
}
body {
  transition:
  background-color 0.5s ease,
  color 0.5s ease;
  background-color: var(--bg-main);
  overflow-y: auto;
  margin: 0;
  font-size:2rem;
}

a, header, nav, section, h1, h2, p {
    transition:
    color 0.5s ease,
    background-color 0.5s ease,
    border-color 0.5s ease;
}
html {
  scrollbar-gutter: stable;
}
body::-webkit-scrollbar {
  width: 1px; 
  height: 1px;
}
body::-webkit-scrollbar-thumb {
  width:1px;
  height:auto;
  margin: 1px;
  border-radius: 50px;
  background-color: #525252;
}
body::-webkit-scrollbar-track {
  background-color: #5e5e5e33;
}

/* TABLET */
@media (min-width: 768px) {}

/* DESKTOP */
@media (min-width: 1024px) {}