*{
    margin:0;
    padding: 0;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.site-content{
    width: 100%;
    position: relative;
    margin-top:10%;
}
body {
  transition:
  background-color 0.5s ease,
  color 0.5s ease;
  background-color: var(--bg-main);
  overflow-y: auto;
  margin: 0;
  font-size:2rem;
}

a, header, nav, section, h1, h2, p {
    transition:
    color 0.5s ease,
    background-color 0.5s ease,
    border-color 0.5s ease;
}

body::-webkit-scrollbar {
  width: 1px; 
  height: 1px;
}
body::-webkit-scrollbar-thumb {
  width:1px;
  height:auto;
  margin: 1px;
  border-radius: 50px;
  background-color: #a3a3a3;
  filter: brightness(1.5);
}
body::-webkit-scrollbar-track {
  background-color: #5e5e5e33;
}

/* TABLET */
@media (min-width: 768px) {}

/* DESKTOP */
@media (min-width: 1024px) {}

#projetos,
#certificados,
#contato {
  scroll-margin-top: 100px;
}