:root {
  --bg-main: #131313;     /* fundo geral */
  --bg-header: #000000;  /* header/nav */
  --bg-grid: #000000;/* cards/seções */
  --bg-card:#131313;
  --bg-card-hover:#414141;    
  --text-primary: #ffffff;   /* títulos */
  --text-secondary: #c2c2c2; /* subtítulos */
  --text-muted: #c7c6c6;    /* parágrafos longos */
  --accent: #8b5cf6;
  --accent-hover: #7c3aed;
  --border-soft: none;
  --hover-effect: #f5f5f5;
}

body.dark {
  --bg-main: #0e0e0e;
  --bg-header: none;
  --bg-grid: #f5f5f5;
  --bg-card: #f5f5f5;
  --text-primary: #131313;   /* títulos */
  --text-secondary: #2c2c2c; /* subtítulos */
  --text-muted: #575757;    /* descrições longas */
  --accent: #8b5cf6;   /* roxo suave */
  --accent-hover: #a78bfa;
  --bg-card-hover:  #f0f2ff; 
  --border-soft: none;
  --hover-effect:  #6d28d9; 
}
